/* General styles */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	color: #fff;
}
a {
	text-decoration: none;
	color: inherit;
}
/* General styles end*/

.hamburger {
	position: fixed;
	top: 2rem;
	right: 3rem;
	z-index: 9999;
	font-size: 3rem;
	padding: 0.5rem;
	cursor: pointer;
}
header::after {
	content: '';
	position: fixed;
	inset: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: opacity 0.5s 0.25s;
}
.active header::after {
	transform: translate(0, 0);
	opacity: 1;
	transition: opacity 0.6s;
}
.nav {
	position: fixed;
	inset: 0 auto 0 0;
	z-index: 1000;
	width: 28rem;
	background-color: #2b2824;
	padding: 1.6rem;
	transform: translateX(-29rem);
	transition: transform 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.active .nav {
	transform: translateX(0);
}
.nav-list {
	list-style: none;
}
.nav-item {
	position: relative;
}
.nav-item::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #e08d18;
}
.nav-link {
	display: block;
	text-transform: uppercase;
	line-height: 6rem;
	letter-spacing: 3px;
	opacity: 0.75;
	transition: opacity 0.25s;
}
.nav-link.current {
	color: #f2c2a0;
	opacity: 1;
}
.nav-link:hover {
	opacity: 1;
}
.nav-link span {
	font-size: 2rem;
	margin-right: 1rem;
}
main {
	perspective: 1000px;
}
.zoom {
	transform-style: preserve-3d;
	transition: transform 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.active .zoom {
	transform: translate3d(0, 0, -25rem);
}
/* Main content simulation */
section {
	width: 100%;
	height: 100vh;
	background-color: #1a1d24;
}
/* Main content simulation end*/
@media screen and (max-width: 450px) {
	.hamburger {
		top: 1.5rem;
		right: 1.5rem;
	}
}
@media screen and (max-width: 350px) {
	.nav {
		width: 25rem;
	}
}




  .cardm {
	position: sticky;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 46.64%;
	left: 50%;
  }
  
  .card {
	position: relative;
	width: 250px;
	height: 130px;
	border-radius: 25px;
	background: whitesmoke;
	color: black;
	z-index: 2;
	transition: .4s ease-in-out;
  }
  
  .weather {
	position: relative;
	margin: 1em;
  }
  
  .main {
	font-size: 2em;
	position: relative;
	top: -3em;
	left: 4.3em;
  }
  
  .mainsub {
	position: relative;
	top: -10.2em;
	left: 14em;
	font-size: 0.6em;
  }
  
  .card2 {
	position: absolute;
	display: flex;
	flex-direction: row;
	width: 240px;
	height: 130px;
	border-radius: 35px;
	background: white;
	z-index: -1;
	transition: .4s ease-in-out;
  }
  
  .card:hover {
	background-color: #FFE87C;
	cursor: pointer;
  }
  
  .card:hover + .card2 {
	height: 300px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
  }
  
  .card:hover + .card2 .lower {
	top: 20.2em;
  }
  
  .upper {
	display: flex;
	flex-direction: row;
	position: relative;
	color: black;
	left: 1.8em;
	top: 0.5em;
	gap: 4em;
  }
  
  .humiditytext {
	position: relative;
	left: 3.6em;
	top: 2.7em;
	font-size: 0.6em;
  }
  
  .airtext {
	position: relative;
	left: 3.8em;
	top: 2.7em;
	font-size: 0.6em;
  }
  
  .lower {
	display: flex;
	flex-direction: row;
	position: absolute;
	text-align: center;
	color: black;
	left: 3em;
	top: 1em;
	margin-top: 0.7em;
	font-size: 0.7em;
	transition: .4s ease-in-out;
  }
  
  .aqi {
	margin-right: 3.25em;
  }
  
  .realfeel {
	margin-right: 1.8em;
  }
  
  .card3 {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 240px;
	height: 30px;
	top: 4.7em;
	left: -2.4em;
	font-size: 1.24em;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	background: rgb(205, 130, 50);
	transition: .4s ease-in-out;
  }


  






  .car {
	position: sticky;
	width: 250px;
	height: 200px;
	background: rgb(255, 225, 103);
	transition: all 0.4s;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
	font-size: 30px;
	font-weight: 900;
	
  }
  
  .car:hover {
	border-radius: 15px;
	cursor: pointer;
	transform: scale(1.2);
	box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
	background: rgb(184, 103, 255);
  }
  
  .first-content {
	height: 100%;
	width: 100%;
	transition: all 0.4s;
	display: flex;
	justify-content:center;
	align-items: center;
	opacity: 1;
	border-radius: 15px;
  }
  
  .car:hover .first-content {
	height: 0px;
	opacity: 0;
  }
  
  .second-content {
	height: 0%;
	width: 100%;
	opacity: 0;
	display: flex;
	justify-content:center;
	align-items: center;
	border-radius: 15px;
	transition: all 0.4s;
	font-size: 0px;
	transform: rotate(90deg) scale(-1);
  }
  
  .car:hover .second-content {
	opacity: 1;
	height: 100%;
	font-size: 1.8rem;
	transform: rotate(0deg);
  }
  